.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    margin: 0;
    padding: 0;
}

.options-container{
    display: flex;
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-radius: 1;
    border-color: white;
    background: blueviolet;
}

.navbar-container{
    height: 85%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: blueviolet;
}