.chat-header {
  position: fixed;
  top: 0;
  left: 320px; /* Ancho del sidebar */
  width: calc(100% - 320px);
  height: 70px;
  background-color: #2F0459;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  z-index: 10;
}

.chat-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
