.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: white;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 75vw;
    padding: 0;
    color: white;
    background: #2F0459;
}

.view-container{
    height: 85%;
    width: 100%;
}