.columnas-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 75vh;
  width: 75vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.column {
  flex: 1;
  background-color: #d3d3d3;
  border-radius: 8px;
  padding: 0.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.column h2 {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.3rem;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.add-task-btn {
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  padding: 4px 10px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.add-task-btn:hover {
  transform: scale(1.05);
}

.column-tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-card {
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  pointer-events: auto;
}

.task-card * {
  pointer-events: auto;
}

.task-card:hover {
  background-color: #eeeeee;
}

.task-preview {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.task-name {
  font-weight: bold;
}

.task-project,
.task-date {
  font-size: 0.85rem;
  color: #383838;
}

.task-details {
  margin-top: 0.4rem;
  font-size: 0.85rem;
  background-color: #cacaca;
  border-radius: 6px;
  padding: 0.5rem;
}

.subtasks {
  margin-top: 0.4rem;
  border-left: 2px solid #666;
  padding-left: 0.5rem;
}

.level-1 {
  margin-left: 1rem;
}
.level-2 {
  margin-left: 2rem;
}

.subtask-row {
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
}

.subtask-label {
  font-size: 0.75rem;
  color: #555;
  margin-bottom: 0.2rem;
}

.edit-btn-col{
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #888;
  background: white;
  cursor: pointer;
  z-index: 100;
  
}

.task-card:hover .edit-btn-col, .edit-btn-col:focus {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

